/ Modal
#modal-error.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document", style: "position: initial;"}
    .modal-content
      - if flash[:error].present?
        - msgs = flash[:error].is_a?(Array) ? flash[:error] : [flash[:error]]
        .modal-header
          %h5#exampleModalLabel.modal-title Atenção
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          - msgs.each do |message|
            %strong= message
            %br/
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Fechar
