.container
  .row
  #myCarousel.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    / Wrapper for slides
    .carousel-inner
      .item.active
        .center-block
          %div{ style: 'margin: 50px 50px 50px 50px'}
            %pre
              %h3 Sistema de Gerenciamento de Contas
              %p Sistema em fase de desenvolvimento

      .item
        .center-block
          %div{ style: 'margin: 50px 50px 50px 50px'}
            %pre
              %h3 Sistema de Gerenciamento de Contas
              %p
                Código fonte disponível em:
                %a{ href: 'https://github.com/ralphsbaesso/manage_accounts',  target: "_blank" } https://github.com/ralphsbaesso/manage_accounts

      .item
        .center-block
          %div{ style: 'margin: 50px 50px 50px 50px'}
            %pre
              %h3 Sistema de Gerenciamento de Contas
              %p Link para se registrar-se:
              = link_to "Registrar", new_accountant_registration_path

    / Left and right controls
    %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next

