.row
  .col-lg-12
    %h3.page-header
      %i.fa.fa-laptop
      Item
    %ol.breadcrumb{ style: 'background-color: gainsboro;' }
      %li
        %i.fa.fa-home
        %a{href: "/"} Home
      %li
        = link_to 'Item', items_path

.panel.panel-default
  = render 'form', item: @item
