- if @errors.present?

  %section.panel
    %header.panel-heading
      Transação
    .panel-body
      .panel.panel-danger
        .panel-heading Para uma nova transação é nescessário corrigir os erros abaixo
        - @errors.each do |error|
          .panel-content= error
      .panel.panel-info

- else

  = render 'header'

  = render 'form', url: transfers_path, method: :post, title: 'SALVAR TRANSAÇÃO', button: 'Salvar'