/ sidebar start
%aside
  #sidebar.nav-collapse
    / sidebar menu start
    %ul.sidebar-menu
      %li.active
        %a{href: "/"}
          %i.icon_house_alt
          %span Início
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_document_alt
          %span Menu
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            = link_to accounts_path do
              Contas
          %li
            = link_to items_path do
              Items
          %li
            = link_to subitems_path do
              Subitems
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_desktop
          %span Transações
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            = link_to 'Nova transação', '/transfers/new'
      %li
        %a{href: "widgets.html"}
          %i.icon_genius
          %span Widgets
      %li
        %a{href: "chart-chartjs.html"}
          %i.icon_piechart
          %span Charts
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_table
          %span Tables
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "basic_table.html"} Basic Table
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_documents_alt
          %span Pages
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "profile.html"} Profile
          %li
            %a{href: "login.html"}
              %span Login Page
          %li
            %a{href: "contact.html"}
              %span Contact Page
          %li
            %a{href: "blank.html"} Blank Page
          %li
            %a{href: "404.html"} 404 Error

