/ sidebar start
%aside
  #sidebar.nav-collapse
    / sidebar menu start
    %ul.sidebar-menu
      %li.active
        %a{href: "/"}
          %i.icon_house_alt
          %span Dashboard
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_document_alt
          %span Forms
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "form_component.html"} Form Elements
          %li
            %a{href: "form_validation.html"} Form Validation
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_desktop
          %span UI Fitures
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "general.html"} Elements
          %li
            %a{href: "buttons.html"} Buttons
          %li
            %a{href: "grids.html"} Grids
      %li
        %a{href: "widgets.html"}
          %i.icon_genius
          %span Widgets
      %li
        %a{href: "chart-chartjs.html"}
          %i.icon_piechart
          %span Charts
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_table
          %span Tables
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "basic_table.html"} Basic Table
      %li.sub-menu
        %a{href: "javascript:;"}
          %i.icon_documents_alt
          %span Pages
          %span.menu-arrow.arrow_carrot-right
        %ul.sub
          %li
            %a{href: "profile.html"} Profile
          %li
            %a{href: "login.html"}
              %span Login Page
          %li
            %a{href: "contact.html"}
              %span Contact Page
          %li
            %a{href: "blank.html"} Blank Page
          %li
            %a{href: "404.html"} 404 Error
