
%section.panel
  %header.panel-heading
    Nova transação
  .panel-body
    = form_with(model: account, local: true, class: 'form-horizontal') do |form|
      .form-group
        = form.label 'Nome', class: 'col-lg-2 control-label', for: "inputEmail1"
        .col-lg-10
          = form.text_field :name, class: 'form-control', placeholder: "Nome da conta"
      .form-group
        .col-lg-offset-2.col-lg-10
          = form.submit 'Salvar', class: 'btn btn-primary'